* {
    font-family: 'Rubik', sans-serif;
}

:root {
    --main-color: rgb(22, 52, 121)
}





header {
    height: 600px;
    width: 100%;
    background: linear-gradient(#3d2ae457, #5177e157), url('immagini/header.jpg');
    background-size: cover;
    background-position: center;

}





#header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;

}



/*navbar*/
#navbar {
    background-color: rgb(12, 42, 131);
    color: white;

}

#testo {

    color: white;
}

#navbar #rotelle {
    width: 50px;
    height: 30px;
    display: flex;



}

/* parte dei mega lorem*/

.mega {
    margin-top: 150px;
    margin-bottom: 70px;
    display: flex;

    justify-content: start;
    align-items: flex-start;
    color: black;
}

#apici {

    color: var(--main-color);
}


#mini-lorem {

    color: var(--main-color);

}


/*powerlorem*/



#powerlorem {

    width: 100%;
    height: 600px;
    background: linear-gradient(#200fb857, #5177e157), url('/immagini/power-plant-4712830_1280.jpg');


}

#power-text {

    padding: 200px;
}

#icon {

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}


/*parte 2 powerlorem*/
.fig-1 {
    background-color: var(--main-color);
    border: 5px solid white;
    position: relative;
    top: -15vh;
    padding-inline: 15vh;
}

.fig-2 {
    background-color: white;
    position: absolute;
    left: 60vw;
    padding-bottom: 80px;




}


/*descrizione*/
.testo {
    margin: 20px;

    color: var(--main-color);
}

.tasto {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasto-1 {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: solid 2px var(--main-color);
    transition: all 0.5s;
}

.tasto-1:hover {
    color: var(--main-color);
    background-color: transparent;

}

/*mappa*/
.map {

    width: 600px;
    height: 700px;
}

.testo-1 {
    color: var(--main-color);

}

#mappa {

    margin-top: 150px;
}


/*card*/
.project-card .frame-img {
    position: relative;
    overflow: hidden;
    left: 60px;
    width: 500px;
    height: 200px;
    -webkit-box-shadow: -28px -6px 21px -5px rgba(18, 15, 202, 0.694);
    box-shadow: -28px -6px 21px -5px rgba(9, 7, 156, 0.62);
   
}


.project-card img {
    transition: 0.5s;
}

.project-card:hover img {
    transform: scale(1.3);
}

.scritte-sopra {
    position: absolute;
    width: 100px;
    height: 70px;
    z-index: 1;
    color: white;
    top: 10px;
  
}

/*stuff*/

#stuff {
    margin-top: 150px;
    width: 100%;
    height: 300px;
    background-color: var(--main-color);
    background-size: cover;
    background-position: center;

}

.stuff {
    width: 100%;
    display: flex;
    padding-top: 70px;
    padding-bottom: 30px;
    justify-content: center;

}

.info-section-1 {
    position: relative;
    top: -100px;
}


.info-section-2 {
    position: relative;
    top: -250px;

}

.info-section-3 {
    position: relative;
    top: -180px;
    color: white;
    padding-left: 20px;
    display: flex;
    align-items: center;





}

.info-section-5 {
    position: relative;
    top: -190px;

}



/*download*/
#download {

    color: var(--main-color);
    display: flex;
    justify-content: center;
    margin-top: -200px;
}

#box {

    justify-content: center;
    align-items: center;


}



/*finale*/
#finale {

    margin: 100px;
}

.color-f {
    color: var(--main-color);
}

#progressi {
    margin-top: 50px;



}



.color-b {

    background-color: var(--main-color);
}

/*disclaimer*/
#dis {
    background-color: black;
    width: 100%;
    height: 700px;

}

.rotelle-2 {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 30px;
    width: 100px;
    height: 50px;

}

.dis-text {

    margin-left: 30px;
}


.info-section-4 {
    background-color: var(--main-color);
    position: relative;
    top: -310px;
    width: 600px;
    height: 400px;
}

.list {

    list-style: none;

}

.testo-d {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}